body {
    background-color: Beige;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

div#main {
    background-color: Beige;
    text-align: center;
    padding: 10px;
    margin: 0;
    
}

form {
    text-align: left;
}

h1 {
    color: Indigo;
    text-align: center;
}

p {
    color: Indigo;
}

/*#fb{
    position: absolute;
    left: 0px;
}*/

#logout { 
    position: absolute;
    right: 0px;
}